header{
    
    padding: 20px;
    text-align: center;
}
header h1{
    font-size: 45px;
}
.block1{
    background-color: lightgray;
    padding: 20px;
    font-size: 18px;
    display: inline-block;
}