<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum For Information Retrieval Evaluation</title>
    <!-- django code -->
    <!-- {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'index.css' %}" /> -->
    <link rel="stylesheet" href="index.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header
      class="container-fluid row py-4 border border-bottom-3"
      style="
        background-image: url('https://placehold.jp/ff8080/ffffff/1500x300.png');
      "
    >
      <div class="top-left col-2 d-none d-sm-block">
        <img src="https://placehold.jp/200x120.png" alt="" />
      </div>
      <div class="top-center col-12 col-sm-8 text-center text-capitalize">
        <h1 class="main-heading">Fire 2023</h1>
        <h2 class="sec-heading">forum for Information Retrieval Evaluation</h2>
        <h4 style="font-weight: 550" class="font-weight-bold">
          indian statistical institute, kolkata
        </h4>
        <h4 style="font-weight: 550" class="font-weight-bold">
          9th-13th december
        </h4>
      </div>
      <div class="top-right col-2 d-none d-sm-block">
        <img src="https://placehold.jp/200x120.png" alt="" />
      </div>
    </header>

    <div class="container-fluid overflow-hidden">
      <div class="main-content row p-5 gx-5">
        <!-- content which will come in left side -->

        <div class="left-content col-12 col-md-4 col-lg-3">
          <div
            class="p-3 tabs-container rounded border shadow-sm border-2 text-capitalize"
          >
            <a href="#" class="tab rounded my-3 shadow-sm">
              <div><i class="fa-solid fa-house-chimney mr-1"></i></div>
              <span>Home</span>
            </a>
            <a href="#" class="tab rounded my-3 shadow-sm">
              <div>
                <i class="fa-solid fa-file"></i>
              </div>
              <span>call for papers</span>
            </a>
            <a href="#" class="tab rounded my-3 shadow-sm">
              <div><i class="fa-solid fa-laptop"></i></div>
              <span>Call for tracks</span>
            </a>
            <a href="#" class="tab rounded my-3 shadow-sm">
              <div><i class="fa-solid fa-calendar"></i></div>
              <span>schedule</span>
            </a>
            <a href="#" class="tab rounded my-3 shadow-sm">
              <div><i class="fa-solid fa-user-group"></i></div>
              <span>organization</span>
            </a>
          </div>

          <hr class="hr" />

          <!-- archives -->
          <div
            class="p-3 tabs-container rounded border shadow-sm border-2 text-capitalize"
          >
            <div class="archive-heading p-2 rounded">
              <div><i class="fa-solid fa-box-archive"></i></div>
              <span>Archives</span>
            </div>
            <a href="#" class="tab rounded my-3 shadow-sm">
              <div><i class="fa-solid fa-database"></i></div>
              <span>Data</span>
            </a>
            <a href="#" class="tab rounded my-3 shadow-sm">
              <div>
                <i class="fa-solid fa-screwdriver-wrench"></i>
              </div>
              <span>Resources</span>
            </a>
            <a href="#" class="tab rounded my-3 shadow-sm">
              <div><i class="fa-solid fa-timeline"></i></div>
              <span>Past Precedings</span>
            </a>
            <a href="#" class="tab rounded my-3 shadow-sm">
              <div><i class="fa-solid fa-fire"></i></div>
              <span>Fire</span>
            </a>
            <a href="#" class="years rounded my-2">
              <div><i class="fa-solid fa-arrow-right"></i></div>
              <span>2022</span>
            </a>
            <a href="#" class="years rounded my-2">
              <div><i class="fa-solid fa-arrow-right"></i></div>
              <span>2021</span>
            </a>
            <a href="#" class="years rounded my-2">
              <div><i class="fa-solid fa-arrow-right"></i></div>
              <span>2020</span>
            </a>
          </div>

          <hr class="hr" />
        </div>

        <!-- content which will come in center -->

        <div class="central-content col-12 col-md-7 gap-2">
          <div class="content-container rounded-3 shadow-sm border border-2">
            <div class="content-heading h2 px-4 py-2 text-capitalize">
              Welcome
            </div>
            <div class="content-desc p-3" style="text-align: justify">
              <p>
                The 15th meeting of Forum for Information Retrieval Evaluation
                2023 will be held at Goa University, Panjim, India. Started in
                2008 with the aim of building a South Asian counterpart for
                TREC, CLEF and NTCIR, FIRE has since evolved continuously to
                meet the new challenges in multilingual information access. It
                has expanded to include new domains like legal information
                access, social media analysis, mixed script information
                retrieval, information retrival in software engineering and
                unstructure text based event detection.
              </p>
              <p>
                Continuing the trend in earlier editions of FIRE, this year also
                FIRE will hold peer reviewed conference track and evaluation
                tracks to encourage research in the field of IR and NLP. FIRE
                also conducts tutorials in different domains of IR and NLP. This
                year to get an exposure to the latest research of IR and NLP in
                industry, FIRE will also host an industry track. Moreover, to
                promote the exchange of ideas between the PhD Scholars and to
                help boost their research, FIRE will also conduct a Doctoral
                Consortium.
              </p>
              <p>
                We invite active participation in each track. Please refer to
                the call for submission in each track for more information.
              </p>
            </div>
          </div>

          <hr class="hr" />

          <!-- container for showing list content -->
          <div class="list-container rounded-3 shadow-sm border border-2">
            <div class="content-heading h2 px-4 py-2 text-capitalize">
              Keynote speakers
            </div>
            <ul>
              <li><a href="#">Nicola Cancedda, Meta, UK </a></li>
              <li>
                <a href="#">Frank Hopfgartner, Universität Koblenz, Germany </a>
              </li>
              <li><a href="#">Cynthia Rudin, Duke University, USA </a></li>
              <li>
                <a href="Serge Sharoff, University of Leeds, UK "
                  >Serge Sharoff, University of Leeds, UK
                </a>
              </li>
            </ul>
          </div>

          <hr class="hr" />
        </div>

        <!-- content which will come in right side -->

        <div class="right-content col-12 col-lg-2">
          <div class="right-container" style="border-bottom: 2px solid #dcdcdc">
            <div
              class="right-container-heading h2 py-2 text-center text-capitalize"
            >
              sponsors
            </div>
            <div
              style="width: 100%; height: 60px; background-color: #eee"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <footer class="row px-5 border border-2 shadow py-2">
      <div class="left-footer col-12 col-md-6 d-flex align-items-center">
        <img src="./DAIICT.jpg" alt="DAIICT LOGO" />
        <div class="h3 text-capitalize">
          Dhirubhai Ambani Institute of information and Communication Technology
        </div>
      </div>
    </footer>
  </body>
</html>
