@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --text-color: #078186;
}

header {
  height: 260px;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  width: 100vw;
  margin: 0 !important;
  border-bottom: 12px solid #444;
}

header .socials {
  margin-top: auto;
  margin-bottom: 0;
}

header .socials .social-link {
  font-size: 2em;
  text-decoration: none;
}

.main-heading {
  font-weight: 700;
  font-size: 3rem;
}

.sec-heading {
  font-weight: 650;
  font-size: 1.8rem;
}

.tabs-container {
  font-weight: 700;
  transition: all 0.5s ease;
  background-color: #eee;
}

.tabs-container .tab {
  color: var(--text-color);
  padding: 0.5em;
  display: block;
  text-decoration: none;
}

.tabs-container .tab div,
.archive-heading div,
.years div {
  width: 2rem;
  margin-right: 1em;
  display: inline;
}

.tabs-container .tab:hover {
  background-color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
}

.tabs-container .archive-heading {
  background-color: var(--text-color);
  color: #fff;
  font-size: 1.2em;
}

.tabs-container .years {
  margin-left: 1em;
  display: block;
  color: #014421;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s ease;
  padding: 0.5em;
}

.tabs-container .years:hover {
  color: #1cac78;
  background-color: #fff;
  transition: all 0.5s ease;
}

.content-heading,
.right-container-heading {
  background-color: #eee;
  color: var(--text-color);
  font-weight: 700;
}

.list-container ul li {
  list-style-type: square;
}

.list-container ul li a {
  text-decoration: none;
  font-size: 1.2em;
  color: var(--text-color);
}

footer {
  background-color: var(--text-color);
  min-height: 200px;
}

footer .left-footer img {
  height: 60px;
}

footer .right-footer .socials {
  font-size: 2em;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(250, 250, 250);
}

.container {
  min-height: 40vh;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  margin: 10 5px;
  width: 200px;
  padding: 5px 0;
  box-shadow: 0 0 20px rgba(25, 160, 214, 0.2);
  transition: 0.8s;
}

.reg {
  color: white;
  background-color: #078186;
}

.log {
  color: #078186;
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid #078186;
}

button:hover {
  color: white;
  width: 3px;
  box-shadow: 0 0 20px rgba(21, 94, 212, 0.6);
  background-color: rgb(198, 208, 200);
}
