.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
  
  * {
    margin: 0;
    padding: 0;
    --bg-color: #ECF2FF;
    --nav-bg-color: #eee;
    --logo-bg-color: rgba(0, 0, 0, 0.15);
    --menu-bg-color: #183153;
  }
  
  .nav-bar {
    height: 50px;
    background-color: var(--nav-bg-color);
  }
  
  .left-container {
    height: 100vh;
    background-color: var(--menu-bg-color);
    width: 275px;
    position: absolute;
    top: 0px;
  }
  
  .left-sub-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    color: var(--nav-bg-color);
  }
  
  .logo-container,
  .logout-container {
    height: 50px;
    background-color: var(--logo-bg-color);
    display: flex;
    /* justify-content: c; */
    align-items: center;
    text-align: center;
    padding-left: 20px;
    color: var(--nav-bg-color);
    /* opacity: 70%; */
  }
  
  .logout-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .icons-container {
    height: 50px;
    width: 175px;
    /* background-color: #fff; */
    /* width: auto; */
    display: flex;
    position: absolute;
    right: 10px;
    justify-content: space-around;
    align-items: center;
  }
  
  .search-icon-container,
  .user-icon-container,
  .notification-icon-container {
    height: 34px;
    border-radius: 50%;
    /* border: 1.5px solid black; */
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--menu-bg-color);
    cursor: pointer;
  }
  
  .search-icon,
  .user-icon,
  .notification-icon {
    height: 16px;
    width: 16px;
    color: var(--nav-bg-color);
  }
  
  .dropdown-btn {
    background: none;
    border: none;
    box-shadow: none;
  }

  .dropdown-menu {
    margin-top: 20px;
    margin-left: 10px;
    background-color: var(--nav-bg-color);
  }
  
  .logo-icon {
    height: 35px;
    width: 35px;
    margin-right: 7px;
    margin-left: 5px;
  }
  
  .logout-icon {
    height: 40px;
    width: 40px;
  }
  
  .menu-options-ctn {
    display: flex;
    padding-left: 7px;
    opacity: 60%;
    padding: 15px 0 10px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 35px;
  }

  .menu-options-ctn:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .menu-icons {
    height: 19px;
    width: 19px;
    margin-right: 10px;
  }
  
  .menu-texts {
    font-size: 13px;
    margin: 0;
    padding: 0;
  }
  
  /* --------------------- Loging ------------------------------ */
  .login-screen-ctn {
    height: auto;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-bg-color);
  }
  
  .login-container {
    height: 600px;
    width: 1100px;
    display: flex;
    box-shadow: 0px 0px 30px 3px #888888;
    border-radius: 5px;
  }
  
  .left-login-ctn {
    height: 100%;
    width: 50%;
    /* background: white; */
    /* background-color: hsl(218, 41%, 15%); */
    background-image: radial-gradient(
      650px circle at 20% 20%,
      rgb(14, 19, 59),
      rgb(14, 39, 79),
      rgb(24, 49, 83),
      rgb(44, 69, 103),
      transparent 100%
    ),
    radial-gradient(
      1550px circle at 50% 100%,
      rgb(99, 109, 129),
      rgb(79, 89, 109),
      rgb(69, 79, 99),
      rgb(49, 59, 79),
      transparent 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px 0 0 5px;
  }
  
  .right-login-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: #f3f3f3;
    border-radius: 0 5px 5px 0;
    flex-direction: column;
  }
  
  .input-field {
    border: 0px;
    background: none;
    width: 70%;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    background-color: #ffffffbb;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
  }
  
  .input-field:focus {
    outline: none !important;
    /* border: 2px solid var(--menu-bg-color); */
    box-shadow: 0px 0px 15px 2px #ababab;
  }
  
  .input-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 2rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: var(--bg-color);
  }
  
  .optional-btn, .nav-optional-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 3rem;
    font-size: 1rem;
    border-radius: 50px;
    color: var(--bg-color);
    background: none;
    border: 1.5px solid var(--bg-color);
  }
  
  @media screen and (max-width: 1200px) {
  }
  