.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  :root {
    --bg-color: rgb(229, 230, 231);
    --nav-bg-color: #ffffff;
    --logo-bg-color: #0066AE;
    --menu-bg-color: #0078cc;
    --icon-color: #eee;
    --primary-color: #0078cc;
    --secondary-color: #0066AE;
    --font-color: #707275;
    --active-font-color: #1A1C23;
  }
  
  .nav-bar {
    height: 63px;
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
    z-index: 9;
  }

  .search-bar {
    height: 35px;
    background-color: rgb(234, 235, 237);
    width: 45%;
    border-radius: 5px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
  }

  .search-input {
    width: 93%;
    height: 100%;
    background: none;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    text-indent: 33px;
    border-radius: 1px;
}

.search-input:focus{
    box-shadow: none;
    border:none;
}

/* -------------------------------------------------------------------- */
  
  .left-container {
    height: 100vh;
    background-color: var(--nav-bg-color);
    width: 275px;
    position: absolute;
    top: 0px;
    padding-top: 80px;
    box-shadow:  0 6px 8px -1px rgba(0,0,0,.1),0 6px 8px -1px rgba(0,0,0,.06);
  }

  .left-close-container {
    width: 60px;
  }
  
  .left-sub-container {
    color: var(--font-color);
    width: 100%;
  }

  .active-indicator {
    height: 2rem;
    width: 5px;
    /* background-color: var(--primary-color); */
    background: none;
    margin-right: 25px;
    border-radius: 0 4px 4px 0;
  }

  .active-close-indicator {
    margin-right: 15px;
  }
  
  .logo-container,
  .logout-container {
    position: absolute;
    width: 300px;
    height: 63px;
    display: flex;
    /* justify-content: c; */
    align-items: center;
    text-align: center;
    padding-left: 20px;
    color: var(--primary-color);
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #fff;
    /* opacity: 70%; */
  }
  
  .logout-container {
    bottom: 0;
    width: 100%;
  }
  
  .icons-container {
    height: 100%;
    /* background-color: #fff; */
    /* width: auto; */
    display: flex;
    position: absolute;
    right: 10px;
    align-items: center;
    margin-right: 15px;
  }

  .user-icon-container,
  .notification-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--primary-color);
    margin-right: 30px;
  }

  .user-icon,
  .notification-icon {
    height: 16px;
    width: 16px;
  }
  
  .dropdown-btn {
    background: none;
    border: none;
    box-shadow: none;
  }

  .dropdown-menu {
    margin-top: 20px;
    margin-left: 10px;
    background-color: var(--nav-bg-color);
  }
  
  .logo-icon {
    height: 35px;
    width: 35px;
    margin-right: 7px;
    margin-left: 5px;
  }
  
  .logout-icon {
    height: 40px;
    width: 40px;
  }
  
  .menu-options-ctn {
    display: flex;
    align-items: center;
    height: 37px;
    cursor: pointer;
    border-radius: 35px;
    color:  var(--font-color);
    font-weight:bold;
  }

  .menu-options-ctn:hover {
    color: var(--primary-color)
  }
  
  .menu-icons {
    height: .975rem;
    width: 19px;
    margin-right: 10px;
  }
  
  .menu-texts {
    display: inherit;
    font-size: .775rem;
    margin: 0;
    padding: 0;
  }
   
  .menu-text-ctn {
    margin-bottom: 5px;
    font-size: 0.855rem;
    margin-left: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 30px;
  }

  .menu-close-texts {
    display: none;
  }
  .menu-close-text {
    visibility: hidden;
  }

  #menu-icon {
    position: absolute;
    right: 9.5px; 
    height: 1.15rem;
    cursor: pointer;
  }

  #menu-icon:hover {
    color: var(--primary-color);
  }

  
  /* --------------------- Loging ------------------------------ */
  .login-screen-ctn {
    height: auto;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-bg-color);
  }
  
  .login-container {
    height: 600px;
    width: 1100px;
    display: flex;
    box-shadow: 0px 0px 30px 3px #888888;
    border-radius: 5px;
  }
  
  .left-login-ctn {
    height: 100%;
    width: 50%;
    /* background: white; */
    /* background-color: hsl(218, 41%, 15%); */
    background-image: radial-gradient(
      650px circle at 20% 20%,
      
      rgb(11, 61, 143),
      rgb(31, 81, 163),
      rgb(41, 91, 173),
      rgb(61, 111, 193),
      transparent 100%
    ),
    radial-gradient(
      1450px circle at 50% 100%,
      rgb(99, 109, 129),
      rgb(79, 89, 109),
      rgb(69, 79, 99),
      rgb(49, 59, 79),
      transparent 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px 0 0 5px;
  }
  
  .right-login-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: #f3f3f3;
    border-radius: 0 5px 5px 0;
    flex-direction: column;
  }
  
  .input-field {
    border: 0px;
    background: none;
    width: 70%;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    background-color: #ffffffbb;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
  }
  
  .input-field:focus {
    outline: none !important;
    /* border: 2px solid var(--menu-bg-color); */
    box-shadow: 0px 0px 15px 2px #ababab;
  }
  
  .input-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 2rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    color: var(--bg-color);
  }
  
  .optional-btn, .nav-optional-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 3rem;
    font-size: 1rem;
    border-radius: 50px;
    color: var(--bg-color);
    background: none;
    border: 1.5px solid var(--bg-color);
  }

  .nav-optional-btn {
    border: none;
    border-radius: 5px;
  }
  
  @media screen and (max-width: 1200px) {
  }
  